body {
    font-family: Arial;
    text-align: center;
}

.card {
    width: 400px;
    margin: auto;
    box-shadow: 0 4px 10px #aaa;
}

.profile {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: none;
    padding: 10px;
    text-align: center;
}

.description {
    color: gray;
    font-size: 20px;
}

.social img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 5px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}