* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;
    padding-top: 60px;
}

.container {
    width: 400px;
    background: rgb(135, 161, 187);
    padding: 25px;
    border-radius: 10px;

  
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 5px;

    background: #222;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

#ft_list {
    margin-top: 20px;
}

.todo {
    padding: 12px;
    margin-bottom: 10px;

    background: #eee;

    border-radius: 5px;

    cursor: pointer;
}

.todo:hover {
    background: #ddd;
}